/* app/home/faq/faq.module.css */
.section {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-green);
  border-bottom: 2px solid var(--accent);
}

.content {
  text-align: center;
  color: var(--yellow);
  font-family: var(--primary-font);
  font-size: 1.8rem;
}