/* app/home/sponsor/sponsor.module.css */
.section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  border-bottom: 2px solid var(--accent);
}

.content {
  text-align: center;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 1.8rem;
}